
body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #fafafa;
}

nav {
    background: #4B0082; /* Manchester purple */
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.active {
    text-decoration: underline;
}

header {
    text-align: center;
    padding: 50px;
    background: #eee;
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 40px;
}


.profile-photo {
    width: 600px;          /* adjust size if needed */
    height: auto;          
    display: block;        /* centers the image */
    margin: 0 auto 20px;   /* space below the image */
}

